@import "bootstrap";
body {
	padding-top: 30px;
	margin: auto;
	width: 960px;
}

.zhanshi {
	margin-top: 20px;
	padding-top: 20px;
	height: 150px;
	background-color: #e8e8e8;
}
.bs-docs-example {
	padding-top:10px;
	width: 200px;
	float: left;
}
.product {
	margin-left: 20px;
	float: left;
	padding-top: 10px;
}
